<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8"> 
    <title>Yooo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="views/style.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  </head>
<body>
  <header>
    <nav>
      <i class="fa fa-code" style="color: orange; font-size: 20px; margin-left: 10px;" >
        <a style="font-weight: bold;"> Test ( <span>Dashboard</span> )</a>
      </i>
    </nav>
  </header>
  <div class="one">
    <div class="one-card">
      <a>Test 1</a>
    </div>
    <div class="one-card">
      <a>Test 2</a>
    </div>
    <div class="one-card">
      <a>Test 3</a>
    </div>
    <div class="one-card">
      <a>Test 4</a>
    </div>
    <div class="one-card">
      <a>Test 5</a>
    </div>
  </div>
</body>
</html>